{% extends 'index.html' %}
{% block content %}
<div class="nav">
    <h2 class="info">Welcome {{ full_name }}<br></h1>
        <div class="nav-items">
            {% if current_user.is_authenticated and current_user.role == 'admin' %}
            <a href="/users" role="button">User Management</a>
            {% endif %}
            <a href="/home">Home</a>
            <a href="/logout" role="button">Logout</a>
        </div>
</div>
<div class="form-container">
    <h2>Change Password</h2>
    <form action="{{ url_for('change_password') }}" method="POST">
        <div class="form-group">
            <label for="old_password" class="form-contents">Old Password:</label>
            <input type="password" id="old_password" name="old_password" required class="form-contents"><br><br>
            <label for="new_password" class="form-contents">New Password:</label>
            <input type="password" id="new_password" name="new_password" required class="form-contents"><br><br>
            <label for="confirm_password" class="form-contents">Confirm New Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required class="form-contents"><br><br>
            <input type="submit" value="Change Password" class="submit-button"> 
        </div>
    </form>
</div>
{% endblock %}