$background-color-primary: #ebf5df;

$text-color-1: #ffffff;

$nav-background-color: #e8871e;

$border-color-1: #bad4aa;

$form-background-color: #d4d4aa;

$button-background-color: #ea9232;
$button-background-color-2: #edb458;